@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #ffffff; /* Default color variables */
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #0f1520;
  --color-text-secondary: #4a5568;
  --color-text-accent: #329b09;
  --color-bg-input: #edf2f7;
  --color-bg-button: #0f1520;
  --color-bg-space: #cffff6;
  background-color: var(--color-bg-space); /* Apply the root background color */
  color: var(--color-text-primary); /* Apply the root text color */
  transition: background-color 0.5s ease-in-out;
}

.dark {
  --color-bg-primary: #0f1114;
  --color-bg-secondary: #2d3141;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #2d2d2d;
  --color-text-accent: #0c8f77;
  --color-bg-input: #4a5361;
  --color-bg-button: #0c8f77;
  --color-text-coinpane: #161d29;
  --color-bg-pane: #1e212c;
  --color-bg-header: #15483f;
  --color-bg-footer: #15483f;
  --color-bg-space: #0f1114;
  --color-text-sky: #ceb91b;
  --color-text-border-b: #0f1114;
  transition: background-color 0.5s ease-out;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #0f1520;
  --color-text-secondary: #cfcfcf;
  --color-text-accent: #0f1114;
  --color-text-coinpane: #ffffff;
  --color-bg-input: #edf2f7;
  --color-bg-button: #0f1114;
  --color-bg-pane: #fafcff;
  --color-bg-header: #0c8f77;
  --color-bg-footer: #80e2d0;
  --color-text-sky: #0c8f77;
  --color-text-border-b: #ddd;
  transition: background-color 0.5s ease-in-out;
}
.text-sky {
  color: var(--color-text-sky);
}
.border-b {
  border-bottom: 1px solid var(--color-text-border-b);
}
.rounded-div {
  @apply border border-secondary rounded-xl shadow-xl  max-w-[1200px] w-full mx-auto;
  background-color: var(--color-bg-header);
}

.footer-div {
  @apply border border-secondary rounded-xl shadow-xl  max-w-[1200px] w-full mx-auto;
  background-color: var(--color-bg-footer);
}

.auth-div {
  background-color: var(--color-bg-footer);
}

.coin-page {
  @apply border border-secondary rounded-xl shadow-xl  max-w-[1200px] w-full mx-auto;
  background-color: var(--color-text-coinpane);
}

.coin-div {
  @apply border border-secondary rounded-xl shadow-xl  max-w-[1200px] w-full mx-auto;
  background-color: var(--color-bg-pane);
}

.top-nav {
  @apply border border-secondary shadow-xl  max-w-[100vw] w-full mx-auto;
  background-color: var(--color-bg-header);
}

.footer-form {
  background-color: var(--color-bg-space) !important;
}

.coin-items {
  background-color: var(--color-bg-pane);
}

.search-text {
  border: 1px solid var(--color-text-secondary);
  outline: none;
  color: var(--color-text-primary);
  vertical-align: middle;
  transition: width 0.3s ease-out, transform 0.3s ease-out;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search-text:focus {
  transform: translateX(-50%);
}
th {
  font-weight: 600;
  font-size: 15px;
}
